*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
/* nav section start  */

        .new_nav{
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 5px;
            background-color: #fff;
            border-bottom: 1px solid black;
        }
        .search_ctn{
            width: 300px;

        }
        .search_ctn input{
            width: 100%;
            padding:5px;
            border-radius: 5px;
        }
        .nav_right{
            width: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .cart{
            font-size: 20px;

        }
        .cart i {
            color: green;
        }

        .profile{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid black;
            padding:2px;
            overflow: hidden;
        }
        .profile img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

/* nav section end  */

/* explore section start  */

        .explore_main_ctn {
            width: 90%;
            height: 50vh;
            margin: 0 auto;
            margin-top: 10px;
            background-image: url(../image/pexels-dids-2911521.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .inside_info{
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .inside_info h3{
            width: 100%;
            text-align: center;
            color: white;
            font-size: 30px;
            font-family:Georgia, 'Times New Roman', Times, serif;   
            letter-spacing: 2px;
        }
        .inside_img_ctn {
            width: 70px;
            height: 70px;
            margin-top: 5px;
        }
        .inside_img_ctn img {
            width: 100%;
            height: 100%;
        }



/* explore section end  */

/* clothing nav start  */

        .clothing_nav{
            width: 90%;
            margin:  0 auto;
            margin-top: 10px;
        }
        .type_nav_container{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .type_nav{
            width: 150px;
            height: 40px;
            padding:5px;
            border-radius: 5px;
            background: rgb(231, 222, 222);
            display: flex;
            justify-content: space-around;
            align-items:center;
            cursor: pointer;
        }
        .type_nav p{
            font-size: 20px;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        }
        .nav_icon_ctn{
            width: 30px;
        }
        .nav_icon_ctn img{
            width: 100%;
        }
/* clothing nav end  */

/* clothing show start  */

.clothing_show_container{
    width: 80%;
    margin: 0 auto;
    margin-top:10px
}
.clothing_show,.clothing_show_two,.clothing_show_three{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    display: none;
}

.cloth_active {
    display: flex;
}
.show_card{
    width: 250px;
    height: 300px;
    border:1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    background: linear-gradient(to top,rgb(201, 201, 148),white); 
}
.show_img_ctn{
    width: 80%;
    margin: 0 auto;
    height: 65%;

}
.show_img_ctn img{
    width: 100%;
    height: 100%;
     border-radius: 5px;
     object-fit: cover;
}
.show_info{
    width: 80%;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* clothing show end  */

/* discount start */

    .discount_section{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .first_discount{
        background-image: url(../image/ian-dooley-FoF0w-d6Z74-unsplash.jpg);
    }
     .second_discount{
        background-image: url(../image/logan-weaver-lgnwvr-G5RSe8i_Id8-unsplash.jpg);
    }
    .first_discount,.second_discount{
        width: 40%;
        height: 40vh;
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }
.first_discount h3,.second_discount h3 {
    color: white;
    font-size: 25px;
}
.first_discount button,.second_discount button{
    padding:5px;
    border-radius: 5px;
    cursor: pointer;
}

.first_discount button:hover,.second_discount button:hover{
    background-color: aquamarine;
    
}



/* discount end */
/* footer start  */

    .footer_section{
        width: 90%;
        height: 15vh;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid black;
        margin-top:20px;
    }
    .footer_left{
        width: 300px;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    .payment_footer{
        width: 50px;
    }
    .payment_footer img{
        width: 100%;
        object-fit:cover;
    }

    .footer_middle{
        padding:5px;
        width:300px;
    }
    .footer_middle >h3{
        width: 100%;
        text-align: center;
    }
    .footer_middle h3{
        font-size: 30px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .footer_middle span{
        color: red;
    }


    .footer_right{
        width:300px;
        display: flex;
        justify-content: space-around;
        font-size: 25px;
    }
    .footer_right i:hover{
        color: blue;
    }



/* footer end  */

/* media start  */
 
    @media (max-width:1350px) {
        .clothing_show_container{
    width: 90%;
    margin: 0 auto;
    margin-top:10px
}
         .type_nav_container{
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .clothing_show{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.show_card{
    margin-right: 10px;
    margin-top: 10px;
}
    }

    @media (max-width:1150px) {
             .type_nav_container{
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    @media (max-width:1000px) {
        .type_nav_container{
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
          .type_nav{
            width: 100px;
            height: 40px;
            padding:5px;
            border-radius: 5px;
            background: rgb(231, 222, 222);
            display: flex;
            justify-content: space-around;
            align-items:center;

        }
    }
    @media (max-width:900px) {
    .discount_section{
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
      .first_discount,.second_discount{
        width: 80%;
        height: 40vh;
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        margin-bottom: 10px;
    }
      .footer_left{

        display: none;
    }
    }
    @media (max-width:850px) {
             .type_nav_container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    @media (max-width:500px) {
              .type_nav_container{
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
         .type_nav p{
            font-size: 20px;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            display: none;
        }
         .type_nav{
            width: 50px;
            height: 40px;
            padding:5px;
            border-radius: 5px;
            background: rgb(231, 222, 222);
            display: flex;
            justify-content: space-around;
            align-items:center;

        }
        .footer_section{
        width: 95%;
        height: 18vh;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-top: 2px solid black;
        margin-top:20px;
        padding:5px;
    }
      .footer_right{
        margin-top: 20px;
    }
    }
    @media (max-width:400px) {
           .footer_right{
        width:200px;
        display: flex;
        justify-content: space-around;
        font-size: 25px;
    }
    }
/* media end  */