*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;

}

/* nav section start  */

        .new_nav{
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 5px;
            background-color: #fff;
            border-bottom: 1px solid black;
        }
        .search_ctn{
            width: 300px;

        }
        .search_ctn input{
            width: 100%;
            padding:5px;
            border-radius: 5px;
        }
        .nav_right{
            width: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .cart{
            font-size: 20px;

        }
        .cart i {
            color: green;
        }

        .profile{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid black;
            padding:2px;
            overflow: hidden;
        }
        .profile img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

/* nav section end  */

/* explore section start  */

        .explore_main_ctn {
            width: 90%;
            height: 50vh;
            margin: 0 auto;
            margin-top: 10px;
            background-image: url(../image/pexels-steve-johnson-1416367.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .inside_info{
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .inside_info h3{
            width: 100%;
            text-align: center;
            color: white;
            font-size: 30px;
            font-family:Georgia, 'Times New Roman', Times, serif;   
            letter-spacing: 2px;
        }
        .inside_img_ctn {
            width: 70px;
            height: 70px;
            margin-top: 5px;
        }
        .inside_img_ctn img {
            width: 100%;
            height: 100%;
        }



/* explore section end  */

/* new item start  */

.new_item_gp{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding:10px;
}
.new_item_nav{
    width: 15vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}
.new_item_indicate{
    width: 80%;
    margin:0 auto;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(237, 230, 230, 0.797);
    cursor: pointer;
}
.new_item_icon {
    width: 30px;
    height: 30px;
}
.new_item_icon img{
    width: 100%;
}
.new_item_icon i{
    font-size: 20px;
}
.new_item_indicate p{
    font-size: 20px;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.new_item_show{
    width: 80vw;
}
.shirt_show,.shirt_show_two,.shirt_show_three{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    flex-wrap: wrap;
    display: none;

}
.shirt_card{
    width: 250px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right:10px;
    background: linear-gradient(to top,rgb(201, 201, 148),white);
}
.shirt_img_ctn{
    width: 80%;
    height: 200px;
    margin: 0 auto;
}
.shirt_img_ctn img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.shirt_info{
    width: 80%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    width: 150px;
    padding:2px;
}
.shirt_cart{
    font-size: 20px;
}

.new_active{
    display: flex;
}
/* new item end  */

/* footer start  */

    .footer_section{
        width: 90%;
        height: 15vh;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid black;
        margin-top:20px;
    }
    .footer_left{
        width: 300px;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    .payment_footer{
        width: 50px;
    }
    .payment_footer img{
        width: 100%;
        object-fit:cover;
    }

    .footer_middle{
        padding:5px;
        width:300px;
    }
    .footer_middle >h3{
        width: 100%;
        text-align: center;
    }
    .footer_middle h3{
        font-size: 30px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .footer_middle span{
        color: red;
    }


    .footer_right{
        width:300px;
        display: flex;
        justify-content: space-around;
        font-size: 25px;
    }
    .footer_right i:hover{
        color: blue;
    }



/* footer end  */


/* media start  */


@media (max-width:1370px) {
   .shirt_show{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    flex-wrap: wrap;
    display: none;
}
.shirt_show.new_active {
    display: flex;
}

}
@media (max-width:1200px) {
    .new_item_indicate p{
    font-size: 20px;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: none;
}
}
@media (max-width:900px) {
     .footer_left{

        display: none;
    }
}
@media (max-width:500px) {
    .shirt_card{
    width: 180px;
    height: 240px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right:10px;
}
.shirt_img_ctn{
    width: 80%;
    height: 150px;
    margin: 0 auto;
}
.new_item_indicate {
    width: 80%;
    margin: 0 auto;
    height: 40px;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: rgba(237, 230, 230, 0.797); */
    cursor: pointer;
}
  .footer_section{
        width: 95%;
        height: 18vh;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-top: 2px solid black;
        margin-top:20px;
        padding:5px;
    }
      .footer_right{
        margin-top: 20px;
    }
}

@media (max-width:400px) {
     .footer_right{
        width:200px;
        display: flex;
        justify-content: space-around;
        font-size: 25px;
    }
}








/* media end  */