.jordan_discount{
    background-image: url(./addidas\ tubular.jpg);
}
.sliper_discount{
    background-image: url(./b093663e-817f-44d0-8cd3-5d53905c1a62.webp);
}
.type_nav a {
    text-decoration: none;
    color: black;
}
